[Unit]
Description=OpenSwitch Platform NAS Shell support
After=opx-cps.service
Wants=opx-cps.service

[Service]
Type=notify
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/python -u /usr/bin/base-nas-shell.py

[Install]
WantedBy=multi-user.target
