Source: opx-nas-common
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libopx-common-dev (>= 1.4.0),libopx-base-model-dev (>= 3.109.0),
            libopx-cps-dev (>= 3.6.2),libopx-logging-dev (>= 2.1.0)
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-common
Vcs-Git: https://github.com/open-switch/opx-nas-common.git

Package: libopx-nas-common1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains common utilities for the network abstraction component.

Package: libopx-nas-common-dev
Architecture: any
Depends: ${misc:Depends},libopx-common-dev (>= 1.4.0),libopx-cps-dev (>= 3.6.2),libopx-logging-dev (>= 2.1.0),
        libopx-base-model-dev (>= 3.109.0),libopx-nas-common1 (=${binary:Version})
Description: This package contains common utilities for the network abstraction component.

Package: opx-nas-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-opx-cps (>= 3.6.2)
Description: This package contains common utilities for the network abstraction component.
